* {
	margin      : 0 0 0 0;
	padding     : 0 0 0 0;
	-webkit-transition : all 0.5s ease-in;
	-moz-transition    : all 0.5s ease-in;
	-o-transition      : all 0.5s ease-in;
	transition         : all 0.5s ease-in;
}

html,
body {
	min-height  : 100%;
	min-width   : 1200px;
}

body {
	background  : #fff;
	color       : #000;
	font-family : arial, sans-serif, monospace;
	font-size   : 18pt;
	line-height : 22pt;
	opacity     : 0;
}

a {
	color              : #666;
	text-decoration    : underline;
	cursor             : pointer;
}

a:hover {
	color              : #ff9900;
}

header section,
article section,
footer section {
	width    : 960px;
	display  : block;
	margin   : 25px auto 25px auto;
}

header section {
	margin-top  : 0px !important;
}

header {
	background  : #000;
	color       : #fff;
}

h1 {
	line-height : 80px;
	font-size   : 50px;
	padding     : 0 0 0 90px;
	background  : url(logo.png) no-repeat;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight : bold;
}

p,
h2,
h5,
h6,
pre {
	margin    : 0 0 20pt 0;
}

h3 {
	margin    : 50px 0 5px 0;	
}

p,
ul {
	padding   : 0 0 0 40px;
}

code, pre {
	font-size : 10pt;
}

footer {
	font-size : 10pt;
}

ul li {
	margin     : 0 0 5pt 0;
	list-style-type : none;
}

ul.downloads li {
	display    : inline-block;
	margin     : 0 20px 0 0;
}

ul.downloads:last-child {
	margin     : 0 0 0 0 !important;
}

#stage:first-child {
	margin-top : 0px !important;
}

.hide,
.hidden {
	display : none;
}

.loading {
	text-align : center;
}

.round {
	-webkit-border-radius : 5px;
	-moz-border-radius    : 5px;
	border-radius         : 5px;
}

.shadow {
	-webkit-box-shadow: 0px 5px 10px 1px #888;
	-moz-box-shadow: 0px 5px 10px 1px #888;
	box-shadow: 0px 5px 10px 1px #888;
}

.padded {
	padding         : 10px;
}

.amd {
	float           : left;
	margin          : -5px 0 0 -100px;
}

.license {
	float           : right;
	margin          : 10px -50px 0 0;
}

.amd:hover,
.license:hover {
	cursor          : pointer;
}

/* Sprites */
.dl_debugging {
  background: url(sprites.png) -277px 0px no-repeat;
  display: block;
  width: 210px;
  height: 89px;
}

.dl_production {
  background: url(sprites.png) -277px -91px no-repeat;
  display: block;
  width: 210px;
  height: 89px;
}

.header_about {
  background: url(sprites.png) 0px -50px no-repeat;
  display: block;
  width: 264px;
  height: 48px;
}

.header_download {
  background: url(sprites.png) 0px -100px no-repeat;
  display: block;
  width: 264px;
  height: 48px;
}

.header_examples {
  background: url(sprites.png) 0px -150px no-repeat;
  display: block;
  width: 264px;
  height: 48px;
}

.ribbon_amd {
  background: url(sprites.png) -168px -200px no-repeat;
  display: block;
  width: 47px;
  height: 105px;
}

.round_license {
  background: url(sprites.png) 0px -200px no-repeat;
  display: block;
  width: 166px;
  height: 167px;
}

.twitter {
  background: url(sprites.png) 0px 0px no-repeat;
  display: block;
  width: 275px;
  height: 48px;
}