* {
	margin      : 0 0 0 0;
	padding     : 0 0 0 0;
	-webkit-transition : all 0.5s ease-in;
	-moz-transition    : all 0.5s ease-in;
	-o-transition      : all 0.5s ease-in;
	transition         : all 0.5s ease-in;
}

html,
body {
	min-height  : 100%;
	min-width   : 1200px;
}

body {
	background  : #fff;
	color       : #000;
	font-family : 'Asap', arial, sans-serif, monospace;
	font-size   : 16pt;
	line-height : 22pt;
	opacity     : 0;
}

a {
	color              : #666;
	text-decoration    : underline;
	cursor             : pointer;
}

a:hover {
	color              : #af2322;
}

header section,
article section,
footer section {
	width         : 960px;
	display       : block;
	margin-right  : auto;
	margin-left   : auto;
	margin-bottom : 0px;
}

header section {
	margin-top  : 0px;
}

footer section {
	margin-top  : 100px;
}

header {
	background  : #000;
	color       : #fff;
}

h1 {
	line-height : 80px;
	font-size   : 50px;
	padding     : 0 0 0 40px;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight : bold;
}

p,
h2,
h5,
h6,
pre {
	margin    : 0 0 20pt 0;
}

h3 {
	margin    : 75px 0 25px 0;	
}

h3:first-child {
	margin-top : 25px !important;
}

p,
ul {
	padding   : 0 0 0 40px;
}

footer {
	font-size : 12pt;
}

ul li {
	margin     : 0 0 5pt 0;
	list-style-type : none;
}

ul.downloads li {
	display    : inline-block;
	margin     : 0 20px 0 0;
}

ul.downloads:last-child {
	margin     : 0 0 0 0 !important;
}

.hide,
.hidden {
	display : none;
}

.loading {
	text-align : center;
}

.round {
	-webkit-border-radius : 5px;
	-moz-border-radius    : 5px;
	border-radius         : 5px;
}

.shadow {
	-webkit-box-shadow: 0px 1px 1em 1px #888;
	-moz-box-shadow: 0px 1px 1em 1px #888;
	box-shadow: 0px 1px 1em 1px #888;
}

.padded {
	padding         : 10px;
}

.amd {
	float           : left;
	margin          : -5px 0 0 -55px;
}

.node {
	float           : left;
	margin          : -5px 0 0 -115px;
}

.license {
	float           : right;
	margin          : 10px -50px 0 0;
}

.amd:hover,
.license:hover {
	cursor          : pointer;
}

.code {
	font-family : monospace;
	font-size   : 12pt;
}

.command {
	width       : 250px !important;
	font-weight : bold;
}

.inline {
	display     : inline-block;
}

/* Sprites */
.dl_debugging {
  background: url(sprites.png) 0px -150px no-repeat;
  display: block;
  width: 210px;
  height: 89px;
}

.dl_production {
  background: url(sprites.png) -266px 0px no-repeat;
  display: block;
  width: 210px;
  height: 89px;
}

.header_about {
  background: url(sprites.png) 0px 0px no-repeat;
  display: block;
  width: 264px;
  height: 48px;
}

.header_download {
  background: url(sprites.png) 0px -50px no-repeat;
  display: block;
  width: 264px;
  height: 48px;
}

.header_examples {
  background: url(sprites.png) 0px -100px no-repeat;
  display: block;
  width: 264px;
  height: 48px;
}

.ribbon_amd {
  background: url(sprites.png) -266px -91px no-repeat;
  display: block;
  width: 47px;
  height: 105px;
}

.ribbon_node {
  background: url(sprites.png) -315px -91px no-repeat;
  display: block;
  width: 47px;
  height: 105px;
}

.round_license {
  background: url(sprites.png) 0px -241px no-repeat;
  display: block;
  width: 166px;
  height: 167px;
}